.consultation__container {
    display: flex;
    width: 70%;
    height: 40vh;
    margin: 0 auto;
}

.consultation__title {
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    line-height: 1.2;
    color: #244d4d;
    font-size: 5.6rem;
    font-weight: bold;
    margin-top: 20%;
    /* margin-bottom: 2%; */
    width: 100%;
}

.consultation__cta__portion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10%;
}

.consultation__cta__text {
    font-size: 2rem;
    color: #244d4d;
}

.consultation__button {
    padding: 1.6rem 4rem;
    background-color: #244d4d;
    color: #ffffff;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    cursor: pointer;
    outline: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .consultation__container {
        width: 100vw;
    }
    .consultation__container {
        width: 100vw;
        margin: 0 auto;
        flex-direction: column;
        padding-top: 5rem;
    }

    .consultation__title {
        font-size: 4.8rem;
        text-align: center;
        margin-top: 8rem;
        margin-bottom: 4rem;
        width: 100vw;
    }

    .consultation__cta__portion {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 0;
    }

    .consultation__cta__text {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 2rem;
        width: 100vw;
    }

    .consultation__cta__button {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .consultation__button {
        padding: 1.6rem 4rem;
        font-size: 1.6rem;
    }
}