.section2 {
    width: 100%;
    height: 100vh;
    background-color: #fefaf6;
}
.section2__container {
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fefaf6;
}

.section2__top {
    margin-bottom: 14.4rem;
}

.section2__title {
    font-size: 6.4rem;
    color: #244d4d;
    margin-top: 5rem;
}

.section2__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__container {
    display: flex;
    gap: 23.5rem;
}

.card__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card__title {
    font-size: 3.2rem;
    color: #244d4d;
}

.card__text {
    font-size: 1.92rem;
    color: #244d4d;
}

.card__btn>button {
    margin-top: 2rem;
    background: none;
    padding: 1.5rem;
    /* padding-right: 80px; */
    border: .2rem solid #244d4d;
    cursor: pointer;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    padding-left: 3rem;
    padding-right: 1rem;
}

.btn-text {
    padding-left: 1rem;
    color: #244d4d;
    font-size: 1.8rem;
}