.white__container {
    width: 100vw;
    background-color: #fefaf6;
}

.section1__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fefaf6;
}

.left__img {
    height: 70rem;
    width: 60rem;
}

.section1__img {
    height: 100%;
    width: 100%;
}

.section1__head {
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    line-height: 1.2;
    color: #244d4d;
    font-size: 5.6rem;
}

.right__text__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section1__head {
    margin-bottom: 3.2rem;
    font-size: 6.08rem;
}

.section1__text {
    margin-bottom: 6.4rem;
    font-size: 2rem;
    color: #244d4d;
}

.section1__info {
    display: flex;
    align-items: center;
}

.info__item {
    margin-right: 10rem;
}

.lgText {
    font-size: 4rem;
    color: #244d4d;
}

.smText {
    font-size: 1.6rem;
    color: #244d4d;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .section1__container {
        width: 100%;
        margin: 0 auto;
    }
    .left__img {
        height: 50rem;
        width: 40rem;
    }

    .section1__left {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section1__right {
        width: 100%;
    }

    .section1__head {
        font-size: 4.8rem;
    }

    .section1__text {
        font-size: 1.4rem;
    }

    .lgText {
        font-size: 3.2rem;
    }

    .smText {
        font-size: 1.2rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .section1__container {
        width: 80vw;
        margin: 0 auto;
        flex-direction: column;
    }

    .left__img {
        height: 40rem;
        width: 30rem;
    }

    .section1__head {
        font-size: 4.6rem;
        text-align: center;
    }

    .section1__text {
        font-size: 1.8rem;
        text-align: center;
    }

    .lgText {
        font-size: 3.6rem;
    }

    .smText {
        font-size: 1.6rem;
    }

    .info__item {
        margin-right: 10rem;
    }

    .section1__info {
        margin-left: 10rem;
        justify-content: flex-end;
    }
}