body {
    background-color: #fdf7f1;
}

h1 {
    color: #244d4d;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6.4rem 6.4rem;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #244d4d;
    margin-left: 3rem;
    cursor: pointer;
}

.box {
    padding: 1.6rem 4rem;
    background-color: #244d4d;
    color: #ffffff;
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-links>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-links>ul>li {
    margin-right: 8rem;
}

.nav-links>ul>li>span>a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #ffffff;
}

.nav-links>ul>li>a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #244d4d;
    font-weight: bold;
}