.slider__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
    background-color: #fdf7f1;
}

.slider__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #fdf7f1;
    width: 75%;
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 2%;
}

.slider__heading {
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    line-height: 1.2;
    color: #244d4d;
    font-size: 5.6rem;
    font-weight: bold;
}

.arrowLeft, .arrowRight {
    cursor: pointer;
}

.arrowRight {
    margin-left: 2%;
}

.slider__top__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__item {
    min-height: 64rem;
    min-width: 48rem;
    padding: 40px;
    position: relative;
}

.slider__info__item {
    position: absolute;
    bottom: 6rem;
    left: 6rem;
    color: #fff;
}

.info__title {
    font-size: 1.3rem;
    font-weight: bold;
}

.slider__item img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inner__slider {
    display: flex;
}

.slider {
    width: 100vw;
    margin-left: 3rem;
    margin-bottom: 3%;
    cursor: grab;
    overflow: hidden;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .slider__heading {
        font-size: 4.8rem;
        text-align: center;
    }

    .slider__item {
        min-height: 52rem;
        min-width: 36rem;
        padding: 30px;
        position: relative;
    }
}